header {
    text-align: center;
    margin: 30px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    h1 {
        text-align: center;
    }
}

#img-div {
    #image {
        margin: auto;
        display: block;
        max-width: 100%;
        height: auto;
    }
}
